h1 {
  color: lightgreen;
  background: white;
  
  &:hover {
    color: palevioletred;
    cursor: pointer;
  }
  &.active {
    background: dodgerblue;
    color: white;
    text-shadow: 1px 1px #000;
  }
}